In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create reference to CSV file
csv_path = "Resources/SFO_Airport_Utility_Consumption.csv"

# Import the CSV into a pandas DataFrame
consumption_df = pd.read_csv(csv_path)
consumption_df.head()

   Year  Month Number Month      Utility       Owner   Units       Usage
0  2013             1   Jan   Passengers      Campus     PAX   3209356.0
1  2013             1   Jan          Gas  Commission  Therms    363205.0
2  2013             1   Jan          Gas      Tenant  Therms     49393.0
3  2013             1   Jan  Electricity  Commission     kWh  12904353.0
4  2013             1   Jan  Electricity      Tenant     kWh  14002156.0

In [ ]:
# Collect a list of all the unique values in "Utility"
consumption_df[""]

In [ ]:
# Looking only at Electricity Consumption with "Tenant" owner

In [ ]:
# Sort the DataFrame by the values in the "Usage" column to find the worst day

# Reset the index so that the index is now based on the sorting locations

In [ ]:
# Save all of the information collected on the worst day