In [3]:
import pandas as pd

In [4]:
mylist=[{"frame": "gray", "price": "1k","sales": "2k"},
               { "frame": "white", "price": "3k","sales": "1k"},
        {"frame": "black", "price": "1k","sales": "2k"}]

In [6]:
newlist=pd.DataFrame(mylist)

In [7]:
newlist

   frame price sales
0   gray    1k    2k
1  white    3k    1k
2  black    1k    2k

In [9]:
df= pd.DataFrame({"Cities" : ["Toronto", "Montreal", "Ottawa", "Vancouver"], 
             "Provinces": ["Ontario", "Quebec", "Ontario", "BC"]})

In [10]:
df

      Cities Provinces
0    Toronto   Ontario
1   Montreal    Quebec
2     Ottawa   Ontario
3  Vancouver        BC